


<div class="col-md-4 well">
	Name: {{input value=model.title}} 	<br>
	Level: {{model.level}} <br>
	<img src={{model.image}} class="img-responsive img-thumbnail" >
	<button {{action 'save'}} class="btn-default">Save</button>

</div>


{{yield}}
